// Grid breakpoint's =====>
$breakpoint-grid-sm: 480px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

.row {
  display: flex;
  margin: -16px;
  flex-flow: row wrap;
}

.col {
  flex: 0 0 auto;
  max-width: fit-content;
  padding: 16px;
}

@mixin grid-size($size) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 $size;
  -ms-flex: 0 0 $size;
  flex: 0 0 $size;
  max-width: $size;
  padding: 16px;
}

@for $i from 1 through 12 {
  .col-xs-#{$i} {
    @include grid-size(8.333333% * $i);
  }
}

@media (min-width: ($breakpoint-grid-sm)) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}

@media (min-width: ($breakpoint-grid-md)) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}

@media (min-width: ($breakpoint-grid-lg)) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}

@media (min-width: ($breakpoint-grid-xl)) {
  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}


/* small phones grid*/
@media (max-width: (360px)) {
  @for $i from 1 through 12 {
    .col-exs-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}