// Color's =====>
$color-black: #000000;
$color-white: #ffffff;

$color-background: #EDF0F7;

$color-text-main: #3D3131;
$color-text-secondary: #6D6D6D;

$color-purple-light: #D8CAF9;
$color-purple-main: #8033FF;

$color-burger-line: #8033FF;

$color-nav-link: #3D3131;
$color-nav-link_hover: #8033FF;

$color-benefits-number: #D9C2FE;

$btn-primary-background: #8033FF;

// Transition's =====>
$transition-normal: all 0.3s ease-in-out;

// Shadow's =====>
$shadow-main: 0px 4px 30px rgba(188, 188, 188, 0.25);