.testing {
  position: relative;
  padding: 60px 0;
  .container {
    max-width: 500px;
  }
  h1 {
    margin-bottom: 48px;
  }
  .site-description {
    max-width: 380px;
    margin: 0 auto 40px;
    text-align: center;
  }
  .counter {
    &__table {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  .birds {
    z-index: -1;
    display: none;
    position: absolute;
    top: 60px;
    right: 116px;
  }
  &__background {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    img,
    source,
    picture {
      display: block;
      width: 100%;
    }
  }
  .form {
    .btn-primary {
      margin: 30px 0 30px;
      padding: 14px 0;
      width: 100%;
    }
  }
}

// Media 992px =====>
@media screen and (min-width: 992px) {
  .testing {
    padding: 100px 0 576px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .birds {
      display: block;
    }
  }
}