<div class="counter__item">
  <div class="counter__text">
    <h5>@@title</h5>
    <div class="tooltip">
      <i class="icon-info tooltip__trigger"></i>
      <span class="tooltip__label">@@tooltip</span>
    </div>
  </div>
  <div class="counter__wrapper">
    <input type="number" class="counter__input" min="1" max="999" value="1">
    <div class="counter__buttons">
      <div class="counter__plus">
        <i class="icon-arrow-dropdown"></i>
      </div>
      <div class="counter__minus">
        <i class="icon-arrow-dropdown"></i>
      </div>
    </div>
  </div>
</div>