.benefits {
  padding: 30px 0 0;
  h2 {
    margin-bottom: 30px;
  }
  &__slider {
    padding: 0 0 30px;
  }
  &__card {
    height: 100%;
    padding: 50px 20px;
    background: $color-white;
    box-shadow: $shadow-main;
    border-radius: 20px;
  }
  &__number {
    margin-bottom: 20px;
    color: $color-benefits-number;
    font-size: 96px;
    font-weight: 700;
    line-height: 1;
  }
  &__background {
    display: none;
  }
}

// Media 992px =====>
@media screen and (min-width: 992px) {
  .benefits {
    position: relative;
    padding: 65px 0 0;
    &__slider {
      padding: 0 0 65px;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      row-gap: 30px;
    }
    &__card {
      min-height: 450px;
    }
    .swiper-navigation {
      display: none;
    }
    &__background {
      display: block;
      position: absolute;
      top: -216px;
      left: 0;
      width: 100%;
      img,
      source {
        width: 100%;
        height: 100%;
      }
    }
  }
}