<div class="modal">
  <div class="modal__container">
    <form action="" id="form" class="modal__form">
      <h4>Please, fill out the contact form. We will get back to you within 24h!</h4>
      @@loop('../form-field.html', [
        { "type": "text", "name": "user_name", "id": "user_name", "attr": "", "placeholder": "Name" },
        { "type": "email", "name": "user_email", "id": "user_email", "attr": "", "placeholder": "E-Mail" },
      ])
      <div class="form__field">
        <textarea name="" id="" placeholder="Nachricht"></textarea>
      </div>
      <button type="submit" class="btn-primary">Senden</button>
    </form>
    <button class="modal__close modal-trigger">
      <i class="icon-close"></i>
    </button>
  </div>
  <div class="modal__container submit">
    <h4>Thank you, your information was sent successfully!</h4>
    <button class="btn-primary modal-trigger">
      Okay
    </button>
  </div>
</div>