.footer {
  padding: 60px 0;
  overflow: hidden;
  border-top: 1px solid #DCDCDC;
  .container {
    padding: 0;
  }
  .logo {
    display: block;
    margin: 0 auto 40px;
    max-width: 134px;
    min-width: 134px;
    max-height: 74px;
    min-height: 74px;
    img,
    source {
      width: 100%;
      height: 100%;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin: -6px -25px;
  }
  &__item {
    flex: 0 0 auto;
    max-width: fit-content;
    padding: 6px 25px;
  }
  &__link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: $color-nav-link;
    font-size: 18px;
    font-weight: 350;
    line-height: 1.6;
    transition: $transition-normal;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background: $color-nav-link_hover;
      border-radius: 10px;
      transition: $transition-normal;
    }
    &:hover {
      color: $color-nav-link_hover;
      &::before {
        width: 100%;
      }
    }
  }
  &__software {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: fit-content;
    margin: 24px auto 0;
    img {
      max-width: 56px;
      min-width: 56px;
      max-height: 56px;
      min-height: 56px;
      border-radius: 100px;
      overflow: hidden;
    }
    span {
      display: block;
      max-width: 180px;
      margin-left: 12px;
      color: $color-text-main;
      font-size: 18px;
      font-weight: 350;
      line-height: 1.54;
    }
  }
  &__wrapper {
    padding: 0 15px;
    width: 100%;
    &.secondary {
      padding-top: 30px;
      margin-top: 30px;
      border-top: 1px solid #DCDCDC;
      .footer {
        &__link {
          color: $color-text-secondary;
          &:hover {
            color: $color-nav-link_hover;
          }
        }
      }
    }
  }
  &__copyright {
    display: block;
    max-width: fit-content;
    margin: 30px auto 0;
    color: $color-text-secondary;
    font-size: 18px;
    font-weight: 350;
    line-height: 1.6;
  }
}

// Media 992px =====>
@media screen and (min-width: 992px) {
  .footer {
    .container {
      padding: 0 15px;
    }
    .logo {
      margin: 0 auto 40px 0;
    }
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
    }
    &__software,
    &__copyright {
      margin: 0 0 0 auto;
    }
  }
}